.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  margin: 5px;
  display: inline-block;
  background-color: #727272;
  padding: 2px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #dbdbdb;
  border-radius: 64px;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #31b475;
  color: white;
  border-color: rgb(75, 148, 75);
}
